apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init-config
  labels:
    app: mysql-db
data:
  init.sql: |
    CREATE USER IF NOT EXISTS 'bookstore'@'%' IDENTIFIED BY 'bookstore123';
    CREATE DATABASE IF NOT EXISTS catalogdb;
    CREATE DATABASE IF NOT EXISTS cartdb;
    CREATE DATABASE IF NOT EXISTS orderdb;
    CREATE DATABASE IF NOT EXISTS userdb;
    GRANT ALL PRIVILEGES ON *.* TO 'bookstore'@'%';
    FLUSH PRIVILEGES;