apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  labels:
    app: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: jrodriguez0/bookstore-project:payment-service
          ports:
            - containerPort: 5000
          env:
            - name: FLASK_ENV
              value: "production"
            - name: PORT
              value: "5000"
            - name: DATABASE_URL
              value: "mysql://bookstore:bookstore123@mysql-db:3306/payment_db" # Ajustar al formato de URL que use tu app Flask/Python
            - name: JWT_SECRET
              value: "bookstore-jwt-secret-key-change-in-production"
            - name: RABBITMQ_HOST
              value: "rabbitmq-payment-svc"
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USER
              value: "bookstore"
            - name: RABBITMQ_PASS
              value: "bookstore123"