apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  labels:
    app: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:      
      containers:
        - name: payment
          image: jrodriguez0/bookstoreproject-2:payment-service
          ports:
            - containerPort: 8084
              name: http
          env:
            - name: SERVICE_PORT
              value: "8084"
            - name: ORDER_SERVICE_URL
              value: "http://order-service:8082"
            - name: USER_SERVICE_URL
              value: "http://user-service:8083"          
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "400m"