apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
  labels:
    app: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: santi1221/bookstore-tet:payment-service
          ports:
            - containerPort: 8084
          env:
            - name: FLASK_ENV
              value: "production"
            - name: PORT
              value: "5000"
            - name: DATABASE_URL
              value: "mysql://bookstore:bookstore123@mysql-db:3306/paymentdb"
            - name: RABBITMQ_HOST
              value: "rabbitmq-service"
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USER
              value: "bookstore"
            - name: RABBITMQ_PASS
              value: "bookstore123"