server:
  port: 8080

spring:
  application:
    name: catalog-service

  datasource:
    url: jdbc:mysql://mysql-db:3306/catalogdb
    username: bookstore
    password: bookstore123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:bookstore}
    password: ${RABBITMQ_PASS:bookstore123}

grpc:
  server:
    port: 9090

logging:
  level:
    root: INFO
    com.bookstore.catalog_service: DEBUG