apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      initContainers:
        - name: wait-for-gateway
          image: busybox:1.35
          command: 
            - sh
            - -c
            - |
              echo "Esperando Gateway..."
              until nc -z gateway-service 8088; do
                echo "Gateway no está listo - esperando..."
                sleep 2
              done
              echo "Gateway está listo!"
      
      containers:
        - name: frontend
          image: jrodriguez0/bookstoreproject-2:frontend
          ports:
            - containerPort: 80
              name: http
          
          env:
            - name: VITE_API_BASE_URL
              value: "http://gateway-service:8088"
          
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 3
          
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 3
            timeoutSeconds: 3
          
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"