apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
  labels:
    app: user
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
        - name: user
          image: jrodriguez0/bookstoreproject-2:user-service
          ports:
            - containerPort: 8083
              name: http
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "docker"
            - name: SERVER_PORT
              value: "8083"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://mysql-db:3306/userdb"
            - name: SPRING_DATASOURCE_USERNAME
              value: "bookstore"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "bookstore123"
            - name: JWT_SECRET
              value: "bookstore-jwt-secret-key-change-in-production"
          
          resources:
            requests:
              memory: "640Mi"
              cpu: "400m"
            limits:
              memory: "1280Mi"
              cpu: "800m"